<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="Bot_ID" value="bot1308888778:AAHnGhmkEeJO1KNrhtlpeuY0_r3nJd-_lfA"/>
  </appSettings>
  <connectionStrings>
    <add name="Banco_TCC" connectionString="Server=127.0.0.1;Port=5432;Database=TCC_COMP;User Id=postgres;Password=admin;"/>
  </connectionStrings>
</configuration>